
* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f5f4;
  overflow-x: hidden;
}

a.nav-list-item:hover {
  color: #f55800;
}

.see-this-project:active {
  background: #e05304;
}

.see-this-project:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.see-this-project:disabled {
  background: #f4f1f0;
  border: none;
  color: #5b5957;
}

.see-this-project:enabled {
  background: #f55800;
  border: 1px solid #f55800;
  color: #fff;
}

a.view-work:active {
  background: #e05304;
}

a.view-work:disabled {
  background: #f4f1f0;
  border: none;
  color: #5b5957;
}

a.view-work:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.header {
  max-width: 375px;
  height: 700px;
  background-color: #1c1a19;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92px;
  background-color: #3e3c3c;
  padding: 0 24px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.navbar ul {
  display: none;
}

.navbar > a {
  text-decoration-line: none;
  color: #fff;
}

.hero {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 180px 60px 165px 185px;
  gap: 10px;
  width: 100%;
  height: 590px;
}

.hero-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  width: 375px;
  padding: 60px 24px 0;
}

.hero-sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding: 10px 24px;
  width: 350px;
}

.hero-description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 350px;
  padding-left: 24px;
}

.media-icon {
  display: flex;
  align-items: flex-start;
  padding-inline-start: 0;
  list-style: none;
  margin-left: 24px;
}

.media-icon > li {
  padding-right: 20px;
}

.hero-image {
  grid-row: 1/span 4;
  grid-column: 2/span 1;
  background-image: url("./images/group-bg-img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 120%;
  transform: translate(-6.5%, 5%);
}

.tools-used-here > li {
  padding: 8px;
  background-color: #999;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  flex-grow: 0;
  color: #fff;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #3d3797;
}

ul.skill > li {
  padding: 15px;
  margin-left: -50px;
  text-align: start;
}

#social-media > li {
  padding-right: 10px;
}

.recent-works-section {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 375px;
  background-color: #fff;
  color: black;
  padding: 10px 24px;
  margin: 0 auto;
  overflow: hidden;
}

.recent-works-title {
  width: 100%;
  border-bottom: 1px solid #888;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 0;
  margin: 0;
}

.recent-works-title > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.recent-work,
.more-of-my-works {
  display: flex;
  flex-direction: column;
  height: 475px;
}

.recent-work {
  margin-top: 50px;
}

.recent-work-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  width: 100%;
  padding-left: 0;
}

.recent-work-view {
  background-color: #f55800;
  width: 50%;
  height: 40px;
  text-align: center;
  text-decoration-line: none;
  padding: 10px;
  color: #fff;
}

.recent-work-view:active {
  background: #e05304;
}

.recent-work-view:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.recent-work-view:disabled {
  background: #f4f1f0;
  border: none;
  color: #5b5957;
}

.recent-work-view:enabled {
  background: #f55800;
  border: 1px solid #f55800;
  color: #fff;
}

.more-of-my-works {
  padding-left: 16px;
}

.feature-work {
  display: none;
}

.tools-used-here {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 16px;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-inline-start: 0;
  list-style: none;
}

.first-project-tools {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 16px;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-inline-start: 0;
  list-style: none;
}

.first-project-tools > li {
  padding: 10px 12px;
  border: 1px solid #8993A4;
  height: 40px;
}

.view-work {
  background-color: #f55800;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 16px);
  height: 40px;
  text-align: center;
  text-decoration-line: none;
  padding: 10px;
  color: #fff;
}

.recent-work-pic {
  width: 100%;
  object-fit: contain;
}

.recent-work-pic > img {
  width: 100%;
  height: auto;
  object-fit: fill;
  display: block;
}

.recent-work-details {
  width: 100%;
  margin: 0;
}

#work-third {
  background-image:
    linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%),
    url("./images/works/sec-image.png");
}

#fourth-work {
  background-image:
    linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%),
    url("./images/works/third-image.png");
  
}

#fifth-work {
  background-image:
    linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%),
    url("./images/works/first-image.png");
}

#sixth-work {
  background-image:
    linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%),
    url("./images/works/sec-image.png");
}

#seventh-work {
  background-image:
    linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%),
    url("./images/works/third-image.png");
}

.work-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
  margin: 5px 0 5px 0;
}

.works-description {
  margin: 5px 0 5px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091E42;
}

#personal-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 375px;
  height: 1900px;
  padding: 20px 20px;
  background-color: #000;
  margin: 0 auto;
  overflow: hidden;
}

#my-cv-here {
  background-image: url("./images/about_me_image.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 650px;
  object-fit: contain;
}

.card-link {
  text-decoration-line: none;
  color: #fff;
  background-color: #f55800;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px;
  gap: 10px;
  width: 171px;
  height: 48px;
}

#my-cv-here > a:active {
  background: #e05304;
}

#my-cv-here > a:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#my-cv-here > a:disabled {
  background: #f4f1f0;
  border: none;
  color: #5b5957;
}

#my-cv-here > a:enabled {
  background: #f55800;
  border: 1px solid #f55800;
  color: #fff;
}

#my-cv-here > h2 {
  color: #f55800;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
}

#my-cv-here > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

#my-skills {
  border-top: 1px solid #888;
  clear: both;
  text-align: center;
  padding: 120px 0 0 0;
}

#my-skills > ul {
  font-size: 35px;
  float: center;
  text-indent: -30px;
}

ul.skill {
  list-style: none;
  font-size: 22px;
}

.contact-me {
  max-width: 375px;
  padding: 70px 20px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.contact-text {
  padding-left: 130px;
  width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: flex-end;
  color: #262626;
  text-align: left;
  font-style: normal;
  margin-top: -50px;
}

.person-name {
  display: none;
  margin: 0;
}

form {
  width: 100%;
}

fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0;
  padding: 0;
  margin: 0 auto;
}

#email {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #888;
}

.form-message {
  width: 100%;
  height: 114px;
  text-align: left;
  margin: 15px 0 30px;
  padding: 5px;
  border: none;
  background-color: #fbf8f7;
}

.text-area {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3C3A39;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 40%;
  margin-left: -65px;
  margin-bottom: 4px;
  border-radius: 1px solid #ff6b00;
}

#submit {
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  background-color: #ff6b00;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

#submit:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#submit:active {
  background: #f55800;
}

#submit:disabled {
  background: #f4f1f0;
  border: none;
  color: #5b5957;
}

#contact-social-media {
  width: calc(100% - 5px);
  display: flex;
  justify-content: center;
  height: 50px;
  list-style: none;
  padding-inline-start: 0;
  border-top: 1px solid #888;
  padding: 20px 0 0 0;
  margin: 100px 0 0 0;
}

#contact-social-media > li {
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .view-work {
    display: none;
  }

  .header {
    max-width: 100%;
    height: 850px;
  }

  .recent-work-pic img {
    width: 100%;
    height: auto;
  }
.nav-icon img {
    display: none;
  }

  .navbar {
    position: fixed;
    width: 100%;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 0 135px;
    margin: 0 auto;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    text-align: center;
    padding-inline-start: 0;
    list-style: none;
    color: #fff;
  }

  .media-icon > li {
    padding-bottom: 20px;
  }

  .tools-used-here > li {
    padding: 8px;
    background-color: #999;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    flex-grow: 0;
    color: #fff;
    height: 40px;
  }

  .navbar > ul > li {
    padding-left: 20px;
    color: #fff;
  }

  .nav-list-item {
    text-decoration-line: none;
    color: #fff;
    height: 40px;
    text-align: center;
    padding: 20px;
  }

  .hero {
    display: grid;
    grid-template-columns: 130px 570px auto;
    grid-template-rows: 315px 65px 410px;
    width: 100%;
  }

  .hero-title {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    color: #ff6b00;
    width: 505px;
    padding: 120px 24px 0;
  }

  .hero-sub-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    width: 560px;
    flex-grow: 0;
  }

  .hero-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    order: 2;
  }

  .media-icon {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    list-style: none;
  }

  .hero-image {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    display: flex;
    background-image: url("./images/hero-image.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    transform: none;
    margin: 0;
  }

  .recent-works-section {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 24px;
    padding: 130px;
    place-items: left;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
  }

  .recent-works-title {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    color: #1c1a19;
    border-bottom: 1px solid #999;
    height: 50px;
    margin: 0;
  }

  .recent-works-title > h2 {
    display: inline-flex;
    padding-top: 20px;
    margin: 0;
    background-color: #fff;
  }

  .recent-work {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 450px;
    place-items: left;
    margin: 130px 0 50px 0;
  }

  .recent-work-pic {
    object-fit: cover;
    background-color: none;
    padding: 0;
  }

  .recent-work-details {
    width: 40%;
    padding-left: 24px;
  }

  .feature-work {
    background-image: url("./images/works//first-image.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 475px;
  }

  .see-this-project {
    background-color: #f55800;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration-line: none;
    padding: 10px;
    color: #fff;
  }

  .more-of-my-works {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 475px;
  }

  .more-of-my-works > .work-title {
    width: 337px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding-left: 16px;
    color: #fff;
  }

  .more-of-my-works > .works-description {
    width: 337px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    padding-left: 16px;
    color: #fff;
  }

  .more-of-my-works > .tools-used-here {
    display: flex;
    padding-left: 16px;
    gap: 10px;
    margin-bottom: 10px;
  }

  .first-project-tools {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-inline-start: 0;
    list-style: none;
    padding-left: 0;
    gap: 10px;
    margin-bottom: 30px 0;
  }

  .first-project-tools > li {
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    flex-grow: 0;
    color: #000;
    height: 40px;
    border: 1px solid #3d3797;
  }

  .recent-work-view {
    background-color: #f55800;
    width: 50%;
    height: 40px;
    text-align: center;
    text-decoration-line: none;
    padding: 10px;
    color: #fff;
  }

  #personal-data {
    display: grid;
    max-width: 100%;
    height: auto;
    padding: 130px;
  }

  #my-cv-here {
    display: grid;
    grid-template-columns: 470px calc(100vw - 617px);
    grid-template-rows: 25% 50% 25%;
    background: none;
    margin: 0;
  }

  #image {
    display: grid;
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
    background-image: url("./images/about-me-image.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }

  #my-cv-here > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  #my-skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 130px 0 0 50px;
    margin: 130px 130px 0 0;
  }

  #my-skills > ul {
    list-style-image: linear-gradient(to right, #f55800, #f55800);
    list-style-position: inside;
    font-size: 35px;
    float: center;
    padding: 0 0 0 120px;
  }

  .contact-me {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 100%;
    height: auto;
    gap: 50px;
  }

  #contact-social-media {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  #contact-para {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    justify-content: flex-end;
    color: #262626;
    padding-left: 130px;
  }

  #contact-me-form {
    padding-right: 130px;
  }

  #name {
    display: none;
  }

  #firstname {
    margin: 10px 0;
    vertical-align: middle;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #888;
    width: 47.5%;
  }

  #lastname {
    margin: 10px 0;
    vertical-align: middle;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #888;
    width: 47.5%;
    align-self: end;
  }

  .person-name {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: stretch;
    height: 50px;
  }

  #email {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #888;
  }

  .form-message {
    width: 100%;
    height: 114px;
    text-align: left;
    margin: 15px 0 30px;
    padding: 5px;
    border: none;
    background-color: #fbf8f7;
  }

  #submit {
    display: block;
    background-color: #f55800;
    font-weight: bold;
    width: 50%;
    height: 40px;
    text-align: center;
    text-decoration-line: none;
    padding: 10px;
    color: #fff;
    margin: 0 auto;
    border: 0;
  }
}
