* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  max-width: 100%;
}

.container {
  height: 72px;
  width: 100%;
  background-color: #3E3C3C;
  display: flex;
}

.logo {
  color: #fff;
  text-decoration: none;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-left: 154px;
  margin-bottom: 26px;
  margin-top: 26px;
}

.nav-menu {
  display: flex;
  margin-left: auto;
  margin-right: 151px;
}

.nav-menu li {
  list-style-type: none;
  margin-bottom: 26px;
  margin-top: 26px;
  
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  margin-right: 32px;
}

.nav-menu li a:hover {
  color: #ff6b00;
}

.top-section {
  height: 798px;
  width: 100%;
  background-color: #1C1A19;
  display: grid;
  grid-template-columns: 9.93% 39.30% 50.75%;
}

.hero-text {
  order: 2;
}

.hero-img {
  order: 3;
  background-image: url(./images/hero-image.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.title {
  width: 100%;
  max-width: 450px;
  height: 124px;
  margin-top: 192px;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #F55800;
}

.sub-title {
  margin-top: 50px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  width: 100%;
  max-width: 600px;
  color: #fff;
  align-items: center;
  font-size: 32px;
}

.description {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  width: 100%;
  max-width: 600px;
  order: 2;
  color: #F4F5F7;
}

.inner-wrapper{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 279px;
}

.social-image {
  height: 20px;
  width: 20px;
  margin-top: 21px;
}

.my-works {
  width: 100%;
  display: grid;
}

/* .works-outer-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  order: 3;
  position: relative;
  margin-top: 80px;
  background: #000;
} */

.recent-works-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 114px;
  margin-top: 135px;
}

.section-title {
  color: #091E42;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-left: -90px;
  width: 415px;
  align-self: center;
  padding-right: 14px;
}

.first-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 141px;
  margin-right: 143px;
  height: 448px;
}

.first-work {
  height: 448px;
  width: 684px; 
  margin-right: 24px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  height: 48px;
  width: 448px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
  margin-top: -84px;
  align-items: flex-start;
}

.card-description {
  height: 140px;
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091E42;
  width: 90%;
}

.card-list {
  justify-content: start;
}

.card-list-item {
  font-size: 15px;
  color: #091e42;
  list-style: none;
  line-height: 20px;
  font-weight: 500;
  margin-right: 10px;
  margin-top: 24px;
  height: 40px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  background-color: #fff;
  float: left;
}

.card-link {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px;
  gap: 10px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.second-card {
  display: flex;
  background: teal;
}

.grid-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 141px;
  margin-right: 143px;
  margin-top: 24px;
  gap: 10px;
}

.grid-child-purple {
  height: 377px;
  width: 369px;
  margin-right: 24px;
  background-image: url(./images/first-image.png);
  background-repeat: no-repeat;
}

.second-card-link-grid {
  margin-top: 375px;
  height: 58px;
  background-color: #ff6b00;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px;
  margin-bottom: -12px;
  width: 100%;
  text-align: center;
}

.grid-child-green {
  height: 435px;
  width: 369px;
  margin-right: 24px;
  background-image: url(./images/sec-image.png);
  background-repeat: no-repeat;
}

.second-card-content-green {
  display: flex;
  flex-direction: column;
}

.data-dash {
  margin-top: 178px;
}

.data-dash, .data-para, .data-dash-heading  {
  width: 337px;
  color: #fff;
  margin-right: 16px;
  margin-left: 16px;
}

.data-para {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
}

.data-para-list {
  display: flex;
  justify-content: start;
  padding: 0 16px;
}

.data-para-list-item {
  color: #fff;
  list-style: none;
  margin-right: 12px;
  margin-top: 14px;
  margin-bottom: 16px;
  height: 40px;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);2
}

.grid-child-yellow {
  height: 435px;
  width: 369px;
  margin-right: 24px;
  background-image: url(./images/third-image.png);
  background-repeat: no-repeat;
}

.second-card-content-green {
  display: flex;
  flex-direction: column;
}

.data-dash-heading {
  margin-top: 211px;
}


.data-para {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
}

.data-para-list {
  display: flex;
  justify-content: start;
  padding: 0 16px;
}

.data-para-list-item {
  color: #fff;
  list-style: none;
  margin-right: 12px;
  margin-top: 14px;
  margin-bottom: 16px;
  height: 40px;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

.grid-child-red {
  height: 435px;
  width: 369px;
  margin-right: 24px;
  background-image: url(./images/four-image.png);
  background-repeat: no-repeat;
}

.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 100%;
  margin: 20px auto;
  background:#262626;
}

.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  
}

.about {
  margin-top: -220px;
  margin-left: 142px;
  margin-right: 142px;
}

.about-me-title {
  justify-content: flex-start;
  color: #fff;
  order: 1;
  margin-bottom: 24px;
  width: 566px;
  height: 78px;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #F55800;
}

.about-me-para {
  color: #F4F5F7;
  width: 566px;
  height: 148px;
}

article img, article.featured {
  width: 100%;
}

.about-me-featured-img {
  height: 252px; 
  margin-top: 60px;
  background-position: center right;
  margin-bottom: 200px;
}


/* .grid-child-blue {
  background: blue;
  height: 435px;
  width: 369px;
  margin-right: 24px;
}

.grid-child-teal {
  background: teal;
  height: 435px;
  width: 369px;
  margin-right: 24px;
}

.grid-child-orange {
  background: orange;
  height: 435px;
  width: 369px;
  margin-right: 24px;
} */

/* .second-card-content {
  
} */

@media screen and (max-width: 768px) {

  body {
    width: 100%;
    max-width: 100%;
    background: lime;
  }
  .nav-menu {
    display: none;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    background-color: #3c3a39;
    height: 92px;
  }

  .logo {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    height: 24px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0px;
  }

  .top-section {
    background-image: url(../images/group.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 590px;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 12px;
    color: #fff;
  }

  .title {
    font-size: 45px;
    line-height: 64px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.37px;
    width: 100%;
    max-width: 600px;
    height: 124px;
    color: #ff6b00;
    margin-top: -50px;
  }

  .sub-title {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    width: 100%;
    max-width: 600px;
    order: 1;
    color: #fff;
    align-items: center;
  }

  .description {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 24px;
    width: 100%;
    max-width: 600px;
    order: 2;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100%;
    max-width: 300px;
    height: 50%;
    gap: 12px;
    list-style-type: none;
    position: relative;
    margin-top: 15px;
  }

  .outer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    order: 3;
    position: relative;
  }

  .social-image {
    height: 20px;
    width: 20px;
  }

  /* First Card */

  ul li {
    list-style-type: none;
  }

  .my-works {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 14px;
    width: 100%;
    height: 100%;
    margin-top: -20px;
  }

  .recent-works-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 153px;
    margin-right: 153px;
  }

  .section-title {
    margin: -94px 24px 0px 24px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 52px;
    order: 0;
    color: #1c1a19;
    height: 83px;
    justify-content: center;
    text-align: center;
  }

  .hr-line {
    height: 1px;
    background: #212121;
    margin-right: -753px;
  }

  .works-outer-wrapper {
    display: flex;
    justify-content: center;
    height: 20%;
    order: 3;
    margin-top: 190px;
  }

  .first-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .first-work {
    width: 327px;
    margin-left: 24px;
    margin-top: -340px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding: 24px 0 12px 0;
    width: 327px;
    margin-top: -90px;
  }

  .card-title {
    color: #091e42;
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    margin-top: -10px;
  }

  .card-description {
    color: #091e42;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    height: 147px;
    margin-top: 14px;
    text-align: justify;
  }

  .card-list {
    justify-content: start;
  }

  .card-list-item {
    font-size: 15px;
    color: #091e42;
    list-style: none;
    line-height: 20px;
    font-weight: 500;
    margin-right: 10px;
    height: 40px;
    border: 1px solid #8993a4;
    padding: 10px 12px;
    background-color: #fff;
    float: left;
  }

  .card-list-item:hover {
    background-color: #ff6b00;
    color: #fff;
    border: 0;
  }

  .card-list-item:active {
    background-color: #ff6b00;
    color: #fff;
    border: 0;
  }

  .card-list-item:visited {
    background-color: #eb9260;
    color: #fff;
    border: 0;
  }

  .card-list-item:disabled {
    background-color: #fff;
    color: #091e42;
    border: 0;
  }

  .card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: #ff6b00;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 4px;
  }

  .card-link:hover {
    background-color: #ff6b00;
    color: #fff;
  }

  .card-link:active {
    background-color: #ff6b00;
    color: #fff;
  }

  .card-link:visited {
    /* background-color: #eb9260; */
    background: #FF6B00;
    color: #fff;
  }

  /* Second Card */

  .second-card {
    margin-bottom: 24px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .second-work {
    width: 100%;
  }

  .second-card-content {
    display: flex;
    flex-direction: column;
    padding: 24px 0 12px 0;
    gap: 12px;
    height: 100%;
    width: 100%;
  }

  .second-card-title {
    padding: 0 16px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin: 84px 0 0 0;
  }

  .second-card-description {
    padding: 0 16px;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
    width: 295;
    height: 87;
  }

  .second-card-list {
    display: flex;
    justify-content: start;
    padding: 0 16px;
  }

  .second-card-list-item {
    color: #fff;
    list-style: none;
    margin-right: 10px;
    margin-top: 12px;
    height: 40px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.24);
  }

  .second-card-link {
    margin-top: auto;
    height: 48px;
    background-color: #ff6b00;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px;
    margin-bottom: -12px;
    width: 100%;
  }

  .second-card-link > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 24px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.03em;
  }

  /* About Me Section */
  .about-me-container {
    height: 100%;
    width: 100%;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    background-image: url(../images/about_me_image.svg);
    background-repeat: no-repeat;
    background-position: 100% 15%;
  }

  .about-me-title {
    color: #ff6b00;
    font-size: 72px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.37px;
    text-align: center;
    padding-top: 150px;
  }

  .about-me-description {
    color: #f4f5f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 24px;
    margin-top: 24px;
  }

  .about-me-link {
    height: 48px;
    background-color: #ff6b00;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px;
    gap: 10px;
    margin: 24px 0 24px 24px;
    width: 161px;
  }

  .about-me-line {
    border: 1px solid #fff;
    top: calc(50% - 0px / 2 + 0.5px);
    width: 90%;
    margin: 0 auto;
  }

  /* Language */

  .languages {
    margin-top: 136px;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
  }

  .lang-image {
    background: #ff6b00;
    transform: rotate(-45deg);
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .lang-title {
    width: 164px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: -200px;
  }

  .about-me-list {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .about-me-list-item {
    list-style: none;
    margin: 10px;
    text-align: center;
    align-content: center;
  }

  /* Framework */

  .framework {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
  }

  .framework-image {
    background: #ff6b00;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .framework-title {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  /* Skills */

  .skills {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
  }

  .skills-image {
    background: #ff6b00;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .skills-title {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .about-me-text-container {
    background-color: #fff;
  }

  .about-me-text {
    color: #172b4d;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin: 120px 24px 58px 24px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 100px;
    gap: 24px;
    height: 330px;
    padding: 16px;
  }

  .form-type {
    width: 100%;
    height: 48px;
    border: none;
    margin-top: 24px;
    padding: 0 16px;
    border-bottom: solid #dbd8d7 1px;
    color: #979493;
  }

  .textarea {
    width: 100%;
    height: 114px;
    border: none;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 12px;
    background-color: #fbf8f7;
    color: #3c3a39;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .button {
    background: #ff6b00;
    padding: 12px;
    gap: 10px;
    width: 131px;
    height: 48px;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .button-text {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: center;
    border: none;
    width: 107px;
    height: 24px;
    background: #ff6b00;
  }

  .button:hover {
    border-radius: 10px;
    opacity: 0.5;
  }

  .button:active {
    background: #ff6b00;
  }

  .button:visited {
    background-color: #eb9260;
  }

  .button:disabled {
    background-color: #979493;
  }

  footer {
    border: 1px solid #dfe1e6;
    margin-top: 124px;
  }

  .footer-inner-wrapper {
    display: flex;
    margin-top: 27px;
    margin-bottom: 38px;
    justify-content: center;
  }

  .footer-social-image {
    height: 20px;
    width: 20px;
    color: #505f79;
    margin-right: 22px;
  }

  .footer-line {
    border: 5px solid #0d151e;
    background: #0d151e;
    border-radius: 10px;
    margin: 0 121px 8px 120px;
    margin-top: 23px;
  }
